<!DOCTYPE html>
<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<script type="text/javascript"></script>

<html>
<head>
	<meta  charset="UTF-8">
	<title>课程通知</title>
</head>
<body>
<h1>课程通知</h1>
<ol class="breadcrumb">
  <li class="active">课程通知</li>
  <li><a href="./movie.html">视频学习</a></li>
  <li ><a href="./material.html">资料下载</a></li>
  <li ><a href="#">留言板</a></li>
  <li ><a href="http://218.193.156.209/oj/admin/viewProblems.jsp">OJ系统</a></li>
  <li ><a href="./index.html">返回首页</a></li>
</ol>

<div class="container">
    <div class="row">
        <div style="float: left;margin-left: 10px;width: 100px" >
        	<ul class="list-group">
  				<li class="list-group-item">教学大纲</li>
  				<li class="list-group-item"><a href="../../views/130101RL.htm">test1-1</a></li>
  				<li class="list-group-item">test1-2</li>
  				<li class="list-group-item">test2-1</li>
 			    <li class="list-group-item">test2-2</li>
			</ul>
        </div>
        <div class="col-xs-9 ">
        	<TR>
				<TD height=10 vAlign=top></TD>
			</TR>
			<TR>
			    <TD>
					<DIV style="WIDTH: 1000px">
					<table width="100%">
					<tr>
						<td align="center">教学大纲</td>
					</tr>
					<tr>
						<td align="center">2018-04-26 20:18:47</td>
					</tr>
					<tr>
					   <td>
					   	<h1 style="text-align: center;">数 据 结 构</h1>
						<h3 style="text-align: center;">Data Structures</h3>
						<p>一、基本信息</p>
						<p>课程代码：【130101】</p>
						<p>课程学分：【4】</p>
						<p>面向专业：【计算机科学与技术类】</p>
						<p>课程性质：【学科基础必修课】</p>
      					<p>开课院系：【计算机科学与技术学院】</p>
						<p>使用教材：主教材【数据结构C语言版 ，严蔚敏等，清华大学出版社】</p>
						<p>参考教材【《算法与数据结构》&mdash;C语言描述&nbsp; 张乃考编著 高等教育出版社 2006】</p>
						<p>【《数据结构》题集&nbsp; 严蔚敏等著&nbsp;&nbsp; 清华大学出版社 2003】</p>
						<p>先修课程：【程序设计基础（C） 130541(2)、逻辑与设计 130561(2)、图论与代数 130571(2)】</p>
						<p>后续课程：【操作系统原理 130141（2.5）、数据库系统原理 130131（2.5）】</p>
						<p>二、课程简介</p>
						<p>&nbsp; 本课程介绍如何合理地组织数据、有效地存储和处理数据，正确地设计算法以及对算法进行分析和评价。通过本课程的学习，使学生深入地理解数据的逻辑结构和物理结构的基本概念以及有关算法，培养基本的、良好的程序设计技能，编制高效可靠的程序，为学习操作系统、编译原理和数据库等课程奠定基础。</p>
           				<p>三、选课建议</p>
						<p>本课程适合于计算机科学与技术学院以及今后希望报考计算机应用与计算机软件与理论硕士研究生的二年级学生，要求先修过C语言程序设计、离散数学或离散结构等课程。</p>
						<p>四、课程任务和教学目标</p>
						<p>数据结构是介于数学、计算机硬件和计算机软件三者之间的一门核心课程。是设计和实现操作系统、编译原理和数据库管理系统及其他系统程序和大型应用程序的重要基础。</p>
						<p>五、课程基本内容及要求</p>
						<p>（一）课程基本内容</p>
						<p>第一章 绪论（2学时）</p>
						<p>1.1本课程的研究对象</p>
						<p>1.2数据结构的基本概念</p>
						<p>1.3数据结构的分类及表示</p>
						<p>1.4算法及算法分析</p>
						<p>说明：本章主要介绍数据结构的基本概念（如数据、数据元素、数据结构、数据类型、抽象数据类型等），算法语言及算法优劣的度量方法。</p>
						<p>第二章 线性表（18学时）</p>
						<p>2.1线性表的概念</p>
						<p>2.2线性表的顺序存储结构和实现</p>
						<p>2.3线性表的链式存储结构和实现</p>
						<p>2.4一元多项式的表示及相加</p>
						<p>说明：本章主要讨论线性表的结构及其操作，其重点为线性表的链式存储结构。</p>
						<p>第三章 栈和队列（8学时）</p>
						<p>3.1栈</p>
						<p>3.2栈应用举例</p>
						<p>3.3栈和递归</p>
						<p>3.4队列</p>
						<p>说明：本章主介绍栈和队列的结构特性、基本操作及在两种存储结构上基本操作的实现；栈和队列的应用、递归算法的设计。</p>
						<p>第四章 树和二叉树（10学时）</p>
						<p>4.1树的基本概念</p>
						<p>4.2二叉树</p>
						<p>4.3二叉树存储结构和遍历</p>
						<p>4.4线索二叉树</p>
						<p>4.5树与森林</p>
						<p>4.6树的应用</p>
						<p>说明：本章研究树的结构特别是二叉树的逻辑结构，物理表示和应用。</p>
						<p>第五章 图（8学时）</p>
						<p>
							5.1图的基本概念</p>
						<p>
							5.2图的存储结构</p>
						<p>
							5.3图的遍历</p>
						<p>
							5.4连通图和生成树</p>
						<p>
							5.5有向无环图</p>
						<p>
							说明：图是一种较线性表和树更为复杂的数据结构。在线性表中，数据元素之间仅有线性关系，在树形结构中，数据元素之间有明显的层次关系，而在图形结构中，结点之间的关系可以是任意的。本章主要讲授应用图论的知识、如何在计算机上实现图的运算，主要学习图的存贮结构（邻接矩阵、邻接表、十字链表，邻接多重表）及应用。</p>
						<p>
							第六章 查找（8学时）</p>
						<p>
							6.1查找的基本概念</p>
						<p>
							6.2线性表的查找</p>
						<p>
							6.3树表的查找</p>
						<p>
							6.4哈希表查找</p>
						<p>
							说明：查找是一种最常用的基本运算，对不同的数据结构有不同的查找方法，主要分为静态查找、动态查找和哈希，查找性能分析。</p>
						<p>
							第七章 排序（8学时）</p>
						<p>
							7.1基本概念</p>
						<p>
							7.2插入排序</p>
						<p>
							7.3交换排序</p>
						<p>
							7.4选择排序</p>
						<p>
							7.5归并排序</p>
						<p>
							7.6基数排序</p>
						<p>
							7.7各种排序方法的比较与选择</p>
						<p>
							说明：分类是计算机程序设计中的一种重要运算，它的功能是将一个数据元素的无序序列排序成为一个有序序列。分类可提高查找的效率。学习和研究各种排序方法是非常重要的。</p>
						<p>
							总复习 （2学时）</p>
						<p>
							说明：对课程内容进行梳理、巩固。</p>
						<p>
							（二）课程基本要求</p>
						<p>
							通过数据结构课程的学习培养学生的数据抽象能力、复杂程序设计能力和分析、解决实际问题能力。具体为：</p>
						<p>
							数据抽象能力：用规范的数学语言描述数据结构的定义，突出数学特性；</p>
						<p>
							复杂程序设计的能力：用软件工程的规范去要求学生编写结构清楚、正确易读的程序；</p>
						<p>
							分析、解决实际问题能力：通过若干应用实例引导学生分析、解决实际问题</p>
						<p>
							六、课内实验名称及基本要求</p>
						<p>
							数据结构是一门实践性很强的课程，对于每一种结构都必须在实验中训练，并加以运用、解决实际问题。</p>
						<p>
							实验内容：&nbsp;</p>
						<p>
							实验一 线性表（4学时）</p>
						<p>
							内容（1）：线性表的顺序存储结构；</p>
						<p>
							内容（2）：线性表的链式顺序存储结构</p>
						<p>
							实验目的：</p>
						<p>
							掌握顺序表的存储结构形式及其描述和基本运算的实现。</p>
						<p>
							掌握动态链表结构及有关算法的设计。</p>
						<p>
							掌握用链表表示特定形式的数据的方法，并能编写出有关运算的算法。</p>
						<p>
							理解单循环链表及双循环链表的特点。链表的创建、元素查找，结点的插入、删除，链表的逆置，一元多项式运算；</p>
						<p>
							实验二 栈与队列（2学时）</p>
						<p>
							内容（1）：栈：入栈、出栈，共享栈，栈的应用；</p>
						<p>
							内容（2）：队列：入队、出队，判断回文；</p>
						<p>
							实验目的：</p>
						<p>
							&nbsp;&nbsp;&nbsp; 掌握栈、队列的思想及其存储实现。</p>
						<p>
							&nbsp;&nbsp;&nbsp; 掌握栈、队列的常见算法的程序实现。</p>
						<p>
							明确栈、队列是特殊的线性表。&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<p>
							实验三 树和二叉树（2学时）</p>
						<p>
							&nbsp; 内容（1）：二叉树的建立、三种遍历算法实现，求二叉树的高度、求二叉树的叶结点数；</p>
						<p>
							内容（2）：中序线索二叉树，二叉树层次遍历</p>
						<p>
							内容（3）：哈夫曼编码；</p>
						<p>
							实验目的：</p>
						<p>
							&nbsp;&nbsp;&nbsp; 掌握二叉树的存储实现。</p>
						<p>
							&nbsp;&nbsp;&nbsp; 掌握二叉树的遍历思想。</p>
						<p>
							掌握二叉树的常见算法的程序实现。</p>
						<p>
							实验四 图（2学时）</p>
						<p>
							内容（1）：邻接表表示图、十字链表表示图；</p>
						<p>
							内容（2）：深度优先遍历、广度优先遍历、拓扑排序、最小生成树；</p>
						<p>
							实验目的：</p>
						<p>
							掌握图的存储思想及其存储实现。</p>
						<p>
							掌握图的深度、广度优先遍历算法思想及其程序实现。</p>
						<p>
							理解拓扑排序、最小生成树等算法</p>
						<p>
							实验五 查找（2学时）</p>
						<p>
							内容（1）：折半查找，二叉排序树查找；</p>
						<p>
							内容（2）：哈希表查找</p>
						<p>
							实验目的：</p>
						<p>
							掌握折半查找算法的思想及程序实现。</p>
						<p>
							掌握二叉排序树查找、插入、删除和建立的算法及程序实现。</p>
						<p>
							掌握散列存储结构的思想，能选择合适散列函数，实现不同冲突处理方法的散列表的查找、建立。</p>
						<p>
							实验六 排序（2学时）</p>
						<p>
							&nbsp;&nbsp;&nbsp; 内容：选择排序、插入排序、冒泡排序、希尔排序、 快速排序等算法实现与比较</p>
						<p>
							实验目的：</p>
						<p>
							&nbsp;&nbsp;&nbsp; 掌握常见的排序算法(插入排序、交换排序、选择排序、归并排序等)的思想、特点及其适用条件。</p>
						<p>
							&nbsp;&nbsp;&nbsp; 能够分析各种算法的效率</p>
						<p>
							&nbsp; 熟练掌握常见的排序算法的程序实现。</p>
						<p>
							七、作业、考核方式和成绩评定</p>
						<p>
							平时成绩占30%（具体包括上课、作业和上机情况）</p>
						<p>
							期终考试成绩占70%（闭卷考）</p>
						<p>
							&nbsp;</p>
						<p style="text-align: right;">
							撰写：孙 莉</p>
						<p style="text-align: right;">
							审阅：夏小玲</p>
						<p style="text-align: right;">
							学科负责人（或课程责任教授）：乐嘉锦</p>
						<p style="text-align: right;">
							学院教学指导委员会主任：乐嘉锦&nbsp;</p>
						</td>
					</tr>

				</table>
			</DIV>
			</TD>
			</TR>
        </div>
    </div>
</div>
<!-- <button class="btn btn-success">按钮</button>
<script src="../static/word/test1-1.docx">111</script> -->


</body>
</html>
